@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', monospace, sans-serif;

}
html {
    scroll-behavior: smooth;
}
body {
    background-color: #F7F7F7;
    min-height: 150vh;

}
/*
:root {
    --black: #000;
    --grey: #333;
    --off: #F7F7F7;
    --white: #fff;
}
.dark {
    --white: #000;
    --black: #fff;
    --off: #F7F7F7;
    --off: #333;
    --grey: #F7F7F
} */

/* ---------------------- H E A D E R  -----------------------*/

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.4s;
    z-index: 1000000;
    padding: 40px 100px;
}
header.sticky { 
    padding: 15px 100px;
    background-color: #000;
    opacity: 0.7;
}
header .logo {
    position: relative;
    color: #000;
    text-decoration: none;
}
header .logo img {

  width: 50px;
  opacity: 0;
  z-index: 1000;
}
header .logodiv.scrolling img {
    opacity: 1;
}
header ul {
    position: relative;
    display : flex;
    justify-content: center;
    align-items: center;
}
header ul li {
    position: relative;
    list-style: none;
}
header ul li a {
    position: relative;
    margin: 0 15px;
    font-size: 18px;
    text-decoration: none;
    color: #000;
    letter-spacing: 2px;
    font-weight: 5750;
    transform: 0.5s;
}
header ul li a:hover {
    text-decoration: underline;
    transition: 0.6s;
}
header.sticky ul li a, header.sticky .logo {
    color: #fff;
    font-size: 21px;
    transition: 0.5s;
}

/* ---------------------- B A N N E R  -----------------------*/

.banner {
    position: relative;
    width: 100%;
    background-color: #F7F7F7;
    min-height: 5vh;
}

/* ---------------------- M A I N  -----------------------*/
.main {
    position: relative;
    min-height: 75vh;
    background: #F7F7F7;
    justify-content: center;
    align-items: center;
}
.main h1 {
    padding-top: 250px;
    position: relative;
    text-align: center;
    margin-left: auto;
    font-weight: 500;
    font-size: 75px;
    margin-right: auto;
}
/* ---------------------- P A R A G R A P H ------------------------*/
#para {
    position: relative;
    background-color: #000;
    min-height: 50vh;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

/* ---------------------- C O N T E N T  -----------------------*/

#title {
    min-height: 5vh;
    background: #333;
    color: #fff;
    text-align: center;
    padding: 25px;
}

.content {
    position: relative;
    min-height: 75vh;
    background: #333;
}


/* ----------------------- C O N T A I N E R ------------------ */

.container {
    min-height: 150vh;
    position: relative;
    width: 100%;
    display: flex;
    padding: 100px 0; 
    align-items: center;
    justify-content: center;
    background-color: #333;
}
.timeline {
    width: 80%;
    height: auto;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}
.timeline ul {
    list-style: none;
}
.timeline ul li {
    padding: 20px;
    background-color: #1e1f22;
    color: #fff;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: 0.5s;
}
.timeline ul li:nth-last-child() {
    margin-bottom: 0;
} 
.timeline-content h1 {
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 10px;
}
.timeline-content p {
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
}
.timeline-content .date {
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 10px;
    letter-spacing: 2px;
}
@media only screen and (min-width: 768px) {
    .timeline::before {
        content: '';
        position: absolute;
        height: 100%;
        width: 2px;
        left: 50%;
        transform: translateX(-50%);
        background-color: gray;
    }
    .timeline ul li {
        width: 50%;
        margin-bottom: 50px;
        position: relative;
    }
    .timeline ul li:nth-child(odd){
        float: left;
        clear: right;
        transform: translateX(-30px);
        text-align: left;
        border-radius: 20px 0px 20px 20px;
    }
    .timeline ul li:nth-child(even){
        float: right;
        clear: left;
        transform: translateX(30px);
        text-align: right;

        border-radius: 0px 20px 20px 20px;
    }
    .timeline ul li::after {
        content: '';
        position: absolute;
        height: 20px;
        width: 20px;
        background-color: gray;
        border-radius: 50%;
        top: -5px;
    }
    .timeline ul li:nth-child(odd)::after {
        transform: translate(50%, -50%);
        right: -30px;
    }
    .timeline ul li:nth-child(even)::after {
        transform: translate(-50%, -50%);
        left: -30px;
    }
    .timeline ul li:hover:after {
        background-color: aqua;
    }
    .timeline-content .data {
        position: absolute;
        top: -30px;
    }
    .timeline ul li:hover {
        background-color: lightgray;
        color: #000;
    }
}

/* ---------------------- R E S O U R C E S ------------------------*/
#resources {
    position: relative;
    background-color: #000;
    min-height: 50vh;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

/* ---------------------- C O N T A C T ------------------------*/
#contact {
    position: relative;
    background-color: #333;
    min-height: 50vh;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 25px;
}
